/* Overview

> Navigation
> General Styles
> Section Entry
> Section Services
> Section Works
> Section CTA
> Section About
> Section Timeline
> Section Quotes
> Section Pricing
> Section Blog
> Section Contact
> Footer
> Popup 
> Owl Carousel

*/

/* Hex Code for the blue we used in our theme is: #3498db */


/* ---------- Main Styles ---------- */

body,  p {
	height:100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #555555;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    color: #474747;
}

/* ---------- Navigation ---------- */

.nav-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1200;
    font-size: 20px;
    color: #ffffff;
    background-color: #3498db;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-btn:hover, .nav-btn:focus, .nav-btn:active {
    color: #3498db;
    background-color: #f8f8f8;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.navbar .container {
    padding-top: 0px;
}

.navbar {
    min-height: 65px;
    border: none;
    background-color: rgba(255,255,255,0.9);
    -webkit-box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.175);
    -moz-box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.175);
    box-shadow: 0px 3px 2px 0px rgba(50, 50, 50, 0.175);
}

.navbar-nav, .navbar-nav>li {
    float: none;
}

.navbar ul {
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: block;
    padding:0;
}

.nav li a {
    font-size: 16px;
    color: #555555;
}

@media (min-width: 768px) {
    .navbar ul li {
        display: inline-block;
        padding: 0;
    }

    .nav li a {
        font-size: 14px;
        color: #555555;
    }
}

@media (min-width: 992px) {

.navbar ul li {
        padding: 0 10px 0;
    }
      
    .nav li a {
        font-size: 15px;
        color: #555555;
    }
}

@media (min-width: 1200px) {

    .nav li a {
        font-size: 16px;
        color: #555555;
    }
}

.closed {
    z-index:-1;
    opacity: 0;
    -webkit-transform: translateY(-600px);
    -ms-transform: translateY(-600px);
    transform: translateY(-600px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.open {
    z-index:1199;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.nav a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(52, 152, 219, 1);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.nav a:hover::after,
.nav a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.navbar-nav > .active > a {
    border-bottom: none;
}

@media (min-width: 768px) {
    .navbar-nav > .active > a {
        border-bottom: solid 4px #3498db;
    }
}



/* ---------- General Styles ---------- */


section {
    padding: 80px 0;
}

/* Buttons */

.btn-blue {
    color: #ffffff;
    background-color: #3498db;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
    color: #3498db;
    background-color: transparent;
    -webkit-box-shadow: 0 0 0 1px #3498db;
    -moz-box-shadow: 0 0 0 1px #3498db;
    box-shadow: 0 0 0 1px #3498db;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-white {
    color: #3498db;
    background-color: #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-white:hover, .btn-white:focus, .btn-white:active {
    color: #ffffff;
    background-color: transparent;
    -webkit-box-shadow: 0 0 0 1px #ffffff;
    -moz-box-shadow: 0 0 0 1px #ffffff;
    box-shadow: 0 0 0 1px #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-slides {
    color: #ffffff;
    background-color: #3498db;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.btn-slides:hover, .btn-slides:focus, .btn-slides:active {
    color: #3498db;
    background-color: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.loader-bg {
    background-color: white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.loader {
    width: 24px;
    height: 24px;
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 2px #3498db;
    border-radius: 50%;
    position: relative;
    margin: 10% auto;
}

.loader:after, .loader:before {
    position: absolute;
    content: "";
    background-color: #3498db;
}

.loader:after {
    width: 10px;
    height: 2px;
    top: 11px;
    left: 11px;
    -webkit-transform-origin: 1px 1px;
    -moz-transform-origin: 1px 1px;
    transform-origin: 1px 1px;
    -webkit-animation: minhand 1s linear infinite;
    -moz-animation: minhand 1s linear infinite;
    animation: minhand 1s linear infinite;
}

.loader:before {
    width: 8px;
    height: 2px;
    top: 11px;
    left: 11px;
    -webkit-transform-origin: 1px 1px;
    -moz-transform-origin: 1px 1px;
    transform-origin: 1px 1px;
    -webkit-animation: hrhand 4s linear infinite;
    -moz-animation: hrhand 4s linear infinite;
    animation: hrhand 4s linear infinite;
}

@-webkit-keyframes minhand {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes minhand {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes minhand {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes hrhand {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes hrhand {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes hrhand {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#home {
	width:100%;
	height:100vh;
	/*
	background-image: linear-gradient(135deg, rgba(255, 255, 255,0.7) 0%,rgba(52, 152, 219,0.8) 100%), url("../img/homebg.jpg");
	*/
	background-image: url('../img/homebg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll; /* fix for an iOS bug not showing the image with fixed */
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

@media (min-width: 768px) {
    #home {
	background-attachment: fixed;
}
}

.logo {
    display:inline-block;
    margin: 60px auto 0;
	max-width: 80%;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 0;
    line-height: 45px;
    z-index: 5;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:#ffffff;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding:5px;
}

#mouse-icon {
    display:none;
}

@media (min-width: 768px) {
    #mouse-icon{
	width:20px; 
	height:36px;
	display:block;
	margin:-20px 0 0 -7px;
	border:3px solid #fff;
	position:absolute;
	z-index:700;
	opacity:0.8;
	top:80%; 
	left:50%;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	-moz-transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}


#mouse-icon:hover{
	opacity:1;
	cursor:pointer;
}

#scroll-wheel{
  	width:5px;
  	height:6px;
  	display:block;
  	position:absolute;
  	top:5px;
  	left:4px;
  	background:#fff;
  	-webkit-border-radius:3px;
  	-moz-border-radius:3px;
  	-o-border-radius:3px;
  	border-radius:3px;
  	-webkit-animation: scrollWheel 1s linear infinite;
	-moz-animation: scrollWheel1s linear infinite;
	-o-animation: scrollWheel 1s linear infinite;
	animation: scrollWheel 0.1s linear infinite;
}

@-webkit-keyframes scrollWheel {
	0%   { top:5px; opacity:1; }
	100% { top:20px; opacity:0; }
}

@-moz-keyframes scrollWheel {
	0%   { top:5px; opacity:1; }
	100% { top:20px; opacity:0; }
}

@-o-keyframes scrollWheel {
	0%   { top:5px; opacity:1; }
	100% { top:20px; opacity:0; }
}
}



.underline {
    width: 24px;
    height: 2px;
    border: 0;
    background: #3498db;
    margin-top: 0;
} 
/* ---------- Section Entry ---------- */


.section-entry {
    background-color: #ffffff;
}

.entry-icon {
    font-size: 50px;
    height: 100px;
    width: 100px;
    background: #3498db;
    color: white;
    display: inline-block;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.entry-icon:hover {
    background: #ffffff;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: #3498db;
    border: 2px solid #3498db;
}

.entry-icon i {
    margin-top: 25px;
}

.mb40 {
    margin-bottom:40px;
}

/* ---------- Section Services ---------- */

.section-services {
    /* background: #f5f5f5; Uncomment for plain background color and remove the image below */
    background: url("../img/servicebg.jpg") no-repeat center center scroll; /* this a fix for rendering on iOS */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 768px) {
    .section-services {
    background: url("../img/servicebg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
}

.section-services .title {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.section-services .description {
    margin-bottom: 70px;
    text-align: center;
}

.services-item {
    margin-bottom: 60px;
}

.services-icon {
    width: 68px;
    height: 68px;
    float: left;
    font-size: 2.5em;
    color: #ffffff;
    background: #3498db;
    border-radius: 5px;
}

.services-icon i {
    margin: 16px 0 0 11px;
}

.services-text {
    margin-left: 80px;
}

.services-text h4 {
    font-weight: 500;
}

.progress {
    height: 30px;
    margin: 10px 0 26px 0;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    font-size: inherit;
    color: #f0f0f0;
    font-size: 0.7em;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    text-align: right;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.color1 {
    background-color: #75b9e7;
}

.color2 {
    background-color: #4aa3df;
}

.color3 {
    background-color: #258cd1;
}

.color4 {
    background-color: #1d6fa5;
}

/* Responsive Devices */

#device,
#device:before,
#device:after {
    background: rgba(0,0,0,0.00);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#device:before,
#device:after,
#device span:before,
#device span:after {
    content: '';
    display: block;
    position: absolute;
    right: 50%;
}

#device {
    position: relative;
    margin: 80px auto 80px;
    background: #444444;
}

#device:before {
    background: #3498db;
    z-index: 2;
}

#device:after {
    background: #d2d5d9;
}

#device span:after {
    background: #b2b5b9;
    z-index: 1;
}

#device span,
#device span:after,
#device span:before {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: wall 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#device span {
    display: block;
    position: absolute;
    top: 0px;
    left: 50%;
    background: #818188;
    margin: 4px 0 0 -3px;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/* Uncomment this block to have the background of the devices as CSS and not with background images. Don't forget to remove the background images */
/*
#device span:before {
    content: 'PHANTASOS';
    text-align: center;
    background: #ffffff;
    border-radius:3px;
    border-top: 8px solid #ddd;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    z-index: 2;
}
*/

/* MacBook */
#device {
    width: 280px;
    height: 160px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

#device:before {
    top: 15px;
    margin: 0 -125px 0 0;
    height: 129px;
    width: 250px;
    background: url("../img/img_macbook.png") no-repeat center center;
    background-size:contain;
}

#device:after {
    bottom: -18px;
    margin: 0 -180px 0 0;
    height: 18px;
    width: 360px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

#device span:after {
    top: 156px;
    margin: 0 -40px 0 0;
    height: 10px;
    width: 80px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

#device span:before {
    height: 110px;
    top: 20px;
    width: 180px;
    margin: 0 -90px 0 0;
    padding: 35px 0 0 0;
}

/* iMac */
@media only screen and (min-width: 1400px) {
    #device {
        width: 400px;
        height: 220px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }

    #device:before {
        top: 17px;
        margin: 0 -183px 0 0;
        height: 186px;
        width: 366px;
        background: url("../img/img_mac.jpg") no-repeat center center;
        background-size:cover;
    }

    #device:after {
        bottom: -30px;
        margin: 0 -40px 0 0;
        height: 15px;
        width: 80px;
        background: transparent;
        border-bottom: 30px solid #d2d5d9;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    #device span {
        top: 2px;
    }

    #device span:after {
        top: 244px;
        margin: 0 -50px 0 0;
        height: 6px;
        width: 100px;
    }

    #device span:before {
        height: 165px;
        top: 20px;
        width: 300px;
        margin: 0 -150px 0 0;
        padding: 65px 0 0 0;
    }
} 

/*  iPad  */
@media only screen and (min-width: 480px) and (max-width: 768px) {
    #device {
        margin: 75px auto 0;
        width: 200px;
        height: 240px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
        background: #444444;
    }

    #device:before {
        top: 15px;
        margin: 0 -85px 0 0;
        height: 194px;
        width: 170px;
        background: url("../img/img_ipad.png") no-repeat center center;
        background-size:contain;
    }

    #device:after {
        bottom: 5px;
        margin: 0 -10px 0 0;
        height: 20px;
        width: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background: #d2d5d9;
    }

    #device span {
        background: #d2d5d9;
    }

    #device span:after {
        top: 220px;
        margin: 0;
        height: 0;
        border-width: 0 0 0 0;
        width: 0;
        background: #d2d5d9;
    }

    #device span:before {
        height: 194px;
        top: 11px;
        width: 170px;
        margin: 0 -85px 0 0;
        padding: 75px 0 0 0;
        -webkit-box-shadow: 0px 0px 0px;
        -moz-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
    }
}

/* iPhone */
@media only screen and (max-width: 479px) {
    #device {
        margin: 70px auto 0;
        width: 130px;
        height: 220px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }

    #device:before {
        top: 30px;
        margin: 0 -55px 0 0;
        height: 150px;
        width: 110px;
        background: url("../img/img_iphone.png") no-repeat center center;
        background-size:contain;
    }

    #device:after {
        bottom: 10px;
        margin: 0 -9px 0 0;
        height: 18px;
        width: 18px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background: #818188;
    }

    #device span {
        top: 4px;
    }

    #device span:after {
        top: 12px;
        margin: 0 -20px 0 0;
        height: 3px;
        width: 40px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        background: #818188;
    }

    #device span:before {
        height: 150px;
        top: 22px;
        width: 110px;
        margin: 0 -55px 0 0;
        padding: 50px 0 0 0;
        -webkit-box-shadow: 0px 0px 0px;
        -moz-box-shadow: 0px 0px 0px;
        box-shadow: 0px 0px 0px;
    }
}



/* ---------- Section Works ---------- */

.section-works {
    background-color: #ffffff;
}

.section-works .title {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    text-transform:uppercase;
}

.section-works .description {
    margin-bottom: 70px;
    text-align: center;
}

.section-works button {
    margin-top:25px;
}

.row figure {
    margin: 20px 0;
    position: relative;
}

.row figure img {
    max-width: 100%;
    display: block;
    position: relative;
}

.row figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 18px 18px 0px;
    background: #3498db;
    color: #ffffff;
}

.row figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: left;
}

.row figcaption p {
    text-align: left;
    color:#ffffff;
}

.row figcaption a {
    text-align: center;
    padding: 5px 10px;
    display: inline-block;
    background: #ffffff;
    color: #3498db;
}

.works-hover:last-child {
    margin-bottom: 60px;
}

.works-hover figure {
    overflow: hidden;
    border-radius:3px;
}

.works-hover figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.works-hover figure:hover img,
.works-hover figure.cs-hover img {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}

.works-hover figcaption {
    height: 80px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.works-hover figure:hover figcaption,
.works-hover figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.works-hover figcaption a {
    position: absolute;
    bottom: 35%;
    right: 5%;
    border-radius:3px;
}

.works-hover figcaption a:hover {
    text-decoration: none;
}


/* ---------- Section CTA ---------- */

.call-to-action {
    padding: 50px 0;
    /* background: #3498db; Uncomment for plain background color and remove the image below */
    background: url("../img/ctabg.jpg") no-repeat center center scroll; /* this a fix for rendering on iOS */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 768px) {
    .call-to-action {
    padding: 50px 0;
    /* background: #3498db; Uncomment for plain background color and remove the image below */
    background: url("../img/ctabg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
}


.call-to-action h3 {
    font-weight: 300;
    font-size: 1.5em;
    color: #ffffff;
    margin: 10px 0;
}

@media (min-width: 768px) {
    .call-to-action h3 {
        font-size: 1.8em;
    }

    .call-to-action {
        padding: 80px 0;
    }
}

@media (min-width: 992px) {
    .call-to-action h3 {
        font-size: 2em;
    }
}

@media (min-width: 1200px) {
    .call-to-action h3 {
        font-size: 2.5em;
        line-height: 20px;
    }
}

/* ---------- Section About ---------- */

.section-about .title {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    text-transform:uppercase;
}

.section-about .description {
    margin-bottom: 70px;
    text-align: center;
}

.about-hover figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    background: #3498DB;
    color: #FFF;
}

.about-hover {
    margin-bottom: 60px;
}

.about-hover figure {
    overflow: hidden;
    border-radius: 5px;
}

.about-hover figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.about-hover figure:hover img,
.about-hover figure.cs-hover img {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}

.about-hover figcaption {
    text-align: center;
    height: 50px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.about-hover figure:hover figcaption,
.about-hover figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.about-hover figcaption a {
    border-radius:3px;
}

.about-hover figcaption a:hover {
    text-decoration: none;
}

.about-hover figcaption a.fb:hover {
    background: #3B5998;
    color: #ffffff;
}

.about-hover figcaption a.tw:hover {
    background: #4099FF;
    color: #ffffff;
}

.about-hover figcaption a.gp:hover {
    background: #dd4b39;
    color: #ffffff;
}

/* ---------- Section Timeline ---------- */

.section-timeline {
    /* background: #f5f5f5; Uncomment for plain background color and remove the image below */
    background: url("../img/timelinebg.jpg") no-repeat center center scroll; /* this a fix for rendering on iOS */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 768px) {
    .section-timeline {
    background: url(../img/timelinebg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
}

.section-timeline .title {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    text-transform:uppercase;
}

.section-timeline .description {
    margin-bottom: 70px;
    text-align: center;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #ffffff;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
        .timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
        .timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-radius:50%;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

/* You can set different colors for every badge if you like */
.timeline-badge.one {
    background-color: #ffffff !important;
}

.timeline-badge.two {
    background-color: #ffffff !important;
}

.timeline-badge.three {
    background-color: #ffffff !important;
}

.timeline-badge.four {
    background-color: #ffffff !important;
}

.timeline-badge.five {
    background-color: #ffffff !important;
}

.timeline-badge.six {
    background-color: #ffffff !important;
}

.timeline-badge > i {
    color:#3498db;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

/* ---------- Section Quotes and Clients---------- */

.section-quotes {
    /* background: #3496db Uncomment for plain background color and remove the image below */
    color: #ffffff;
    background: url("../img/quotebg.jpg") no-repeat center center scroll; /* this a fix for rendering on iOS */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 768px) {
    .section-quotes {
    /* background: #3496db Uncomment for plain background color and remove the image below */
    color: #ffffff;
    background: url("../img/quotebg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
}

.section-quotes .title {
    color:#ffffff;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    text-transform:uppercase;
}

.section-quotes .description {
    margin-bottom: 70px;
    text-align: center;
    color:#ffffff;
}

.section-quotes .underline {
    background: #ffffff;
}

.clients {
    margin-top:140px;
}

.clients img{
    margin-top:20px;
}

.clients .description {
    margin-bottom: 80px;
}

/* ---------- Section Pricing ---------- */

.section-pricing .title {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    text-transform:uppercase;
}

.section-pricing .description {
    margin-bottom: 70px;
    text-align: center;
}


.pricing-table {
    background: #ffffff;
    padding: 0 0 25px 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.5);
}

.pricing-table.popular {
    top: -20px;
    position: relative;
}

.popular {
    background: #3498db;
    color: #fff;
}

.popular h1 {
    font-size: 25px !important;
    padding-bottom: 10px;
    padding-top: 17px;
    color:#ffffff;
}

.popular h2 {
    background: #8ac4eb;
    margin-top: 20px !important;
}


.pricing-head h1 {
    font-size: 18px;
    font-weight: 300;
    padding-top: 15px;
}

.pricing-head h2 {
    padding: 30px 0;
    background: #8ac4eb;
    color: #fff;
    font-size: 50px;
    font-weight: 100;
}

.pricing-table ul {
    margin: 15px 0;
    padding: 0;
}

.pricing-table ul li {
    border-bottom: 1px dotted #e8e8e8;
    margin: 0 2em;
    padding: 1em 0;
    text-align: center;
    font-weight: 300;
}

.pricing-head span.note {
    display: inline;
    font-size: 25px;
    line-height: 0.8em;
    position: relative;
    top: -18px;
}

.extra-pricing {
    font-size:18px;
    font-weight:300;
    margin: 100px 0 50px 0;
    
}


/* ---------- Section Blog ---------- */

.section-blog {
    /* background: #f5f5f5; Uncomment for plain background color and remove the image below */
    background: url("../img/blogbg.jpg") no-repeat center center scroll; /* this a fix for rendering on iOS */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 768px) {
    .section-blog {
    /* background: #f5f5f5; Uncomment for plain background color and remove the image below */
    background: url("../img/blogbg.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
}


.section-blog a {
    text-decoration:none;
}

.section-blog .title {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    text-transform:uppercase;
}

.section-blog .description {
    margin-bottom: 70px;
    text-align: center;
}

.section-blog h3 {
    font-size: 30px;
}

.section-blog h4 {
    font-size:20px;
    text-align:left;
}

.section-blog p {
    text-align:left;
}

.section-blog .item {
    background:#ffffff;
    padding:10px;
    border-radius: 5px;
}

.meta-row {
    text-align: center;
    margin: 25px 0 50px 0;
    font-size: 14px;
    font-weight: 300;
    text-transform:uppercase;
}

.meta-row i {
    color:#3498db;
}

.meta-row .author, .meta-row .date, .meta-row .comments {
    display: inline-block;
    margin: 0 20px;
}

/* ---------- Section Contact ---------- */

.section-contact {
    margin: 0;
}

.section-contact .title {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    text-transform:uppercase;
}

.section-contact .description {
    margin-bottom: 70px;
    text-align: center;
}

.marginb14 {
    margin-bottom: 14px;
}

.form-control {
    border: 2px solid #ffffff;
    background: #3498db;
    color:#ffffff;
    box-shadow: none;
    -webkit-box-shadow:none;
    -moz-webkit-shadow:none;
}

.form-control::-webkit-input-placeholder { color: white; }
.form-control::-moz-input-placeholder { color: white; }
.form-control:-moz-input-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }


#contact-form-msg {
    margin-bottom: 26px;
}

@media (min-width: 768px) {
    .marginb14 {
        margin-bottom: 0px;
    }
}

#submit {
    width:100%;
}

#map {
    width: 100%;
    height: 336px;
    border-radius:3px;
}


/* ----------  Footer ---------- */

footer.main {
    /* background: #f5f5f5 Uncomment for plain background color and remove the image below */
    background: url("../img/footerbg.jpg") no-repeat center center scroll; /* this a fix for rendering on iOS */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:60px 0 20px 0;
    -webkit-box-shadow:inset 0px 11px 8px -10px #aaaaaa;
   -moz-box-shadow:inset 0px 11px 8px -10px #aaaaaa;
    box-shadow:inset 0px 11px 8px -10px #aaaaaa;
}

@media (min-width: 768px) {
    footer.main {
    background: url("../img/footerbg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
}

footer h2 {
    font-weight: 300;
    margin-top:0;
}

footer p {
    font-weight: 300;
    margin:60px 0 0 0;
}

footer a {
    text-decoration:none;
}

footer a:hover {
    opacity:0.8;
    text-decoration:none;
}


.sharing a {
    margin: 20px 5px 0 5px;
}

.color-fb:hover {
    background: #3B5998;
}

.color-tw:hover {
    background: #4099FF;
}

.color-gp:hover {
    background: #dd4b39;
}

.color-tm:hover {
    background: #32506d;
}

.color-yt:hover {
    background: #bb0000;
}

.footer-icon {
    font-size: 1.4em;
    height: 40px;
    width: 40px;
    background: #3498db;
    color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.footer-icon:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    color: #ffffff;
}

.footer-icon i {
    margin-top: 10px;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {

    .footer-icon {
        font-size: 1.8em;
        height: 60px;
        width: 60px;
    }

    .footer-icon i {
        margin-top: 17px;
    }
}

@media (min-width: 1200px) {

    .footer-icon {
        font-size: 2.5em;
        height: 80px;
        width: 80px;
    }

    .footer-icon i {
        margin-top: 25px;
    }
}

.to-top-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1200;
    margin:0 !important;
    color: #ffffff;
    background-color: #3498db;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.to-top-btn:hover, .to-top-btn:focus, .to-top-btn:active {
    color: #3498db;
    background-color: #f8f8f8;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


/* ---------- Magnific Popup CSS ---------- */

/* Magnific Popup CSS */
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2042;
    overflow: hidden;
    position: fixed;
    background: #ffffff;
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 2045;
}

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #cccccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 2044;
}

.mfp-preloader a {
    color: #cccccc;
}

.mfp-preloader a:hover {
    color: white;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 2046;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    filter: alpha(opacity=65);
    padding: 0 0 18px 10px;
    color: white;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100);
}

.mfp-close:active {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
    color: #333333;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: white;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #cccccc;
    font-size: 12px;
    line-height: 18px;
}

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    filter: alpha(opacity=65);
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100);
}

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid white;
    margin-left: 31px;
}

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid white;
    margin-left: 39px;
}

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black;
}

/* Main image in popup */
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
    line-height: 0;
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444444;
}

.mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-figure figure {
    margin: 0;
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }

    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }

    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }

    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }

    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }

    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }

    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }

    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }

    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }

    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}

.mfp-ie7 .mfp-img {
    padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
    padding: 0;
}

.mfp-ie7 .mfp-content {
    padding-top: 44px;
}

.mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0;
}


/* ---------- Owl Carousel Styles ---------- */

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    cursor: move;
}

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
    float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}

.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
}

/* ---------- Different Carousel Styles ---------- */

.about-theme .owl-controls, .quote-theme .owl-controls, .service-theme .owl-controls, .portfolio-theme .owl-controls, .blog-theme .owl-controls, {
    margin-top: 10px;
    text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    *display: inline;
/*IE7 life-saver */
    margin: 5px;
    padding: 3px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: #869791;
    filter: Alpha(Opacity=50);
/*IE7 fix*/
    opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
/*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

#service-slides {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

#service-slides img {
    margin: 0 auto;
}

.service-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
/*IE7 life-saver */;
}

.service-theme .owl-controls .owl-page.active span,
.service-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
/*IE7 fix*/
    opacity: 1;
}

.service-theme .owl-controls .owl-page span {
    display: block;
    width: 6px;
    height: 6px;
    margin: 20px 7px;
    filter: Alpha(Opacity=50);
/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #3498db;
}

#quote-slides {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

#quote-slides img {
    width: 100px;
    height: 100px;
}

#quote-slides p {
    font-size: 20px;
    font-weight: 300;
    color:#ffffff;
}

#quote-slides small:before {
    content: '\2014 \00A0';
}

.quote-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
/*IE7 life-saver */;
}

.quote-theme .owl-controls .owl-page.active span,
.quote-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
/*IE7 fix*/
    opacity: 1;
}

.quote-theme .owl-controls .owl-page span {
    display: block;
    width: 6px;
    height: 6px;
    margin: 20px 7px;
    filter: Alpha(Opacity=50);
/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #ffffff;
}

#about-slides {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.about-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
/*IE7 life-saver */;
}

.about-theme .owl-controls .owl-page.active span,
.about-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
/*IE7 fix*/
    opacity: 1;
}

.about-theme .owl-controls .owl-page span {
    display: block;
    width: 6px;
    height: 6px;
    margin: 20px 7px;
    filter: Alpha(Opacity=50);
/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #3498db;
}

#blog-slides {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    background:#ffffff;
    padding: 5px 25px;
    border-radius:3px;
}

.blog-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
/*IE7 life-saver */;
}

.blog-theme .owl-controls .owl-page.active span,
.blog-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
/*IE7 fix*/
    opacity: 1;
}

.blog-theme .owl-controls .owl-page span {
    display: block;
    width: 6px;
    height: 6px;
    margin: 20px 7px;
    filter: Alpha(Opacity=50);
/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #3498db;
}

#portfolio-slides {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    margin-top: 50px;
    text-align:center;
}

@media (min-width: 768px) {
    #portfolio-slides {
    margin-top: 50px;
}
}

#portfolio-slides img {
    display: block;
    width: 100%;
    height: auto;
}

.portfolio-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
/*IE7 life-saver */;
}

.portfolio-theme .owl-controls .owl-page.active span,
.portfolio-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
/*IE7 fix*/
    opacity: 1;
}

.portfolio-theme .owl-controls .owl-page span {
    display: block;
    width: 6px;
    height: 6px;
    margin: 20px 7px;
    filter: Alpha(Opacity=50);
/*IE7 fix*/
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #3498db;
}


::-moz-placeholder { color: #fff!important;} 
:-ms-input-placeholder {color: #fff!important;}